# macOS Systemdateien
.DS_Store
.AppleDouble
.LSOverride

# Windows Systemdateien
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup-Dateien von Editoren
*.swp
*~
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Falls du später Tools wie npm nutzt (Node.js)
node_modules/
npm-debug.log*
